

$primaryBtn : #FFBE8D;
$textColor : rgb(33, 32, 32);
$purple : #DBD8F0;
$green : #8BC126;
$blue : #02B3E0;
$yellow : #F4D41D;
$background : rgb(31 41 55);

$smallRounded: 5px;
$mediumRounded: 6px;
$largeRounded: 12px;


$fontSmall : 15px;
$fontMedium : 25px;
$fontLarge : 35px;