.user-avatar-container {
    height: 6rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 4rem;
}

.user-avatar {
    height: 5rem;
    width: 5rem;
    background-color: white;
    border-radius: 100%;
}