@import '../variables';
@import '../mixins';

.welcome-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url('/gameImages/Background2.png');
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
        flex-direction: row;
        width: 100%;
    }

    &__avatar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        position: relative;
        @media (min-width: 768px) {
            width: 50%;
        }

        h2 {
            font-size: 3rem;
            color: rgba(117, 192, 117);
            background-color: white;
            border-radius: $largeRounded; 
            border: 2px solid white;
            box-shadow: 0 0 10px rgba(225, 225, 225, 0.5);
            padding: 1rem 3rem;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
        height: 100vh;

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    &__title {
        font-size: 4rem;
        text-align: center;
    }

    &__navigation {
        @include flexColumns;
        color: blue;
        gap: 2rem;
    }

    &__link {
        color: white;
        font-weight: bold;
        border-radius: $smallRounded;
        border: 2px solid rgba(117, 192, 117);
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
        font-size: $fontMedium;
        width: 100%;
        padding: 1rem 3rem;
        text-align: center;
        text-decoration: none;
        background-color: rgb(117, 192, 117);

        &:hover {
            background: white;
            color: black;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        &:last-child {
            margin-top: 3rem;
            color: black;
            font-weight: bold;
            border-radius: $smallRounded;
            border: 2px solid rgb(117, 192, 117);
            box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
            font-size: $fontMedium;
            width: 100%;
            padding: 1rem 3rem;
            text-align: center;
            text-decoration: none;
            background: white;

            &:hover {
                background: rgb(117, 192, 117);
                color: white;
                cursor: pointer;
                transition: all 0.3s ease;
            }
        }
    }
}