@import '../../../styles/variables';
@import '../../../styles/mixins';

/* Search Genre */
.search-genre-container {
    max-width: 1980px;
    margin: 32px auto;
    min-height: 100vh;
    width: 100%;
    @include flexColumns;
    gap: 10px;

    // margin-top: 2rem;
}

.search-bar-container {
    @include flexColumns;

    margin-bottom: 2em;
    width: 100%;
    margin: 1% auto;
    max-width: 400px;

}

.search-bar-text {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    font-weight: 600;
    margin-bottom: 1rem;
    color: black;
}

.search-input {

    font-size: large;
    font-weight: 400;
    color: black;
    height: 100%;
    padding: 0.5rem;
    width: 100%;
    border-radius: $smallRounded;
    border: 4px solid rgb(117, 192, 117);
    background-color: white;
   outline: none; 
   
}

.other-genre-container {

    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 9em 2.5em;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
}

.no-genre {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    p {
        color: black;
    }
}

@media (max-width:768px) {
    .other-genre-container {
        flex-direction: row
    }
}