@import '../../../styles/variables';
@import '../../../styles/mixins';


/* Popular Genre */
.popular-container {
    max-width: 1980px;
    margin: 0 auto;
    min-height: 50vh;
    width: 100%;
}

.popular-text-container {
    width: 100%;
    @include flexCenter;
    margin: 1rem auto;
    margin-bottom: 8rem;

    h1 {
        color: black;
        font-size: $fontLarge;
    }
}

.popular-genre-container {
    flex-wrap: wrap;
    @include flexCenter;
    padding-top: 2rem;
    gap: 9em 2.5em;
}

.popular-section {


    &__itemWrapper {

        flex-wrap: wrap;
        @include flexCenter;
        margin-top: 6rem;
        gap: 9em 2.5em;
    }
}