@import '../../../styles/variables';
@import '../../../styles/mixins';


/* Popular Genre */
.popular-container {

    width: 100%;
}

.popular-text-container {
    width: 100%;
    @include flexCenter;

    h1 {
        color: white;
        font-size: clamp(1.5rem, 2vw, 1.8rem);
    }
}

.popular-genre-container {
    flex-wrap: wrap;
    @include flexCenter;


    gap: 2em;
}


