@import '../../../styles/variables';
@import '../../../styles/mixins';


/* Popular Genre */
.popular-container {
    max-width: 1980px;
    margin: 0 auto;
    min-height: 50vh;
    width: 100%;
}

.popular-text-container {
    width: 100%;
    @include flexCenter;
    margin: 1rem auto;

    h1 {
        color: black;
        font-size: clamp(1.5rem, 2vw, 1.8rem);
    }
}

.popular-genre-container {
    flex-wrap: wrap;
    @include flexCenter;


    gap: 2em;
}