@import '../variables';
@import '../mixins';

// Sign in full page
.sign-up-form {
    @include flexRows;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }

    //Large buttons for sign in
    button, a {
        background: $primaryBtn; 
        @include flexCenter;
        border-radius: $smallRounded;
        padding: 0.5rem;
        border: 1.5px solid $primaryBtn;
        color: white;
        width: 22rem;
        margin: 0.5rem;
        font-size: $fontSmall;
        font-weight: bold;
        
        &:hover {
            background: white;
            color: black;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }

}

// Hero/title section sign in
.title {
    @include flexCenter;
    height: 100vh;
    width: 50%;
    background-color: rgb(47, 47, 47);
    h2 {
        font-size: $fontLarge;
        color: white;
    }
}

// Sign in Form section
.form-input {
   @include flexColumns;
    height: 100vh; 
    width: 50%;

    h2 {
        font-size: $fontMedium; 
        text-align: center; 
    }
    p {
        font-size: $fontSmall;
        text-align: center;
        font-weight: 600;
    }

}


// Smaller buttons
.extraButtons {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
.signInBtn, .continueBtn {
flex: 1;
width: 9rem;
text-decoration: none;

}
}


//Input field styling
input {
    padding: 0.5rem;
    border-radius: $smallRounded;
    border: 0.5px solid $primaryBtn;
    width: 21rem;
    margin: 0.5rem;
    font-weight: bold;
    font-size: $fontSmall;
    &:focus{ 
        outline: none;
        border: 2px solid $primaryBtn;
    }
}