@import '../../styles/variables';
@import '../../styles/mixins';

// Page container
.genre-mode {
    min-height: 100%;
    width: 100vw;
    background-image: url('/gameImages/Background2.png');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 3rem;

    @media (max-width: 768px) {
        .genre-mode__bottom-container {
            height: 100%;
        }

        .genre-mode__mode-options {
            flex-direction: column;
        }
    }

    &__header-container {
        padding: 3rem 10rem;
        @include flexRows;
        align-items: flex-start;
        width: 100vw;
    }

    &__top {
        @include flexColumns;
        min-height: 30vh;
        margin-bottom: 3rem;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__genre-title {
        font-size: 3rem;
        color: rgb(117, 192, 117);
        background-color: white;
        border-radius: 12px;
        border: 2px solid white;
        box-shadow: 0 0 10px rgba(225, 225, 225, 0.5);
        padding: 1rem 3rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__genre-name {
        font-size: 2rem;
        text-transform: capitalize;
    }

    &__bottom-container {
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__return-genre {
        cursor: pointer;
        padding: 0.5rem;
        font-size: 18px;
        position: absolute;
        text-align: center;
        top: 2rem;
        left: 2rem;
        background-color: white;
        border-radius: $mediumRounded;

        &:hover {
            @include hoverScale;
        }
    }

    &__mode-card {
        @include flexCenter;
        text-transform: capitalize;
        border-radius: $smallRounded;
        height: 15em;
        width: 15em;
        border: 2px solid rgb(117, 192, 117);
        padding: 2em;
        cursor: pointer;
        background-color: rgb(225, 225, 225, 0.7);
        box-shadow: 0 0 10px rgba(225, 225, 225, 0.5);

        &:hover {
            @include hoverScale;
            background-color: rgb(117, 192, 117);
        }
    }

    &__mode-text {
        color: black;
        font-size: 2em;
        font-weight: 500
    }

    &__mode-options {
        @include flexRows;
        gap: 4rem;
    }
}