@import '../../styles/variables';
@import '../../styles/mixins';

.game-area {
    width: 100%;
    height: 84vh;
    @include flexRows;
    position: relative;
    background-image: url('/gameImages/Background2.png');
    background-size:contain;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.3);
}

.game-left {
    width: 40%;
    height: 100%;
}

.game-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-page {

    &__game-won-modal {
        position: absolute;
        left: 40%;
        top: 0;
        z-index: 10;
        right: 0;
        display: flex;
     
        width: auto;
        margin: 0 auto;
        height: 100%;       
        background-color: rgb(60, 197, 251);
    }
    &__game-lost-modal {
        position: absolute;
        left: 40%;
        top: 0;
        z-index: 10;
        right: 0;
        display: flex;
     
        width: auto;
        margin: 0 auto;
        height: 100%;       
        background-color: rgb(96, 120, 96);
    }
}