@import '../../../styles/variables';
@import '../../../styles/mixins';

.game-won {
    &__container {
        display: flex; 
        flex-direction: column;
        padding: 2rem;
        width: 100%;
        justify-content: space-between;
      padding: 8rem 2rem;
    }

    &__text {
        font-size: 3rem;
        font-weight: bold;
        color: white;
        text-align:center;
    }   

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__button-quit {
   padding: 0.5rem; 
   color: $background;
   background-color: white;
   width: auto; 
   border-radius: $mediumRounded;
   font-size: 25px;
   font-weight: bold;


    }

    &__button-next {
        padding: 0.5rem;
        color: white;
        background-color: black;
        width: auto;
        border-radius: $mediumRounded;
        font-size: $fontMedium;
        &:hover {
            cursor: pointer;
            color: black;
            background-color: white;
        }
    }



}