@import '../../styles/variables';
@import '../../styles/mixins';

.flex-row {
    display: flex;
}

/* Genre Page Container */
.genre-menu-container {
    min-height: 100vh;
    max-width: 1980px;
    margin: 0 auto;
    padding: 2% 5%;
    box-sizing: border-box;
    flex-direction: column;
    gap: 4px;
    height: auto;
    width: 100%;
    background-color: $background;

}




