@import '../../styles/variables';
@import '../../styles/mixins';

.flex-row {
    display: flex;
}

/* Genre Page Container */
.genre-menu-container {

    margin: 0 auto;

    box-sizing: border-box;
    flex-direction: column;
    gap: 4px;
    height: auto;
    width: 100%;
    background-image: url('/gameImages/Background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-attachment: fixed;
}




